*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $brand-font;
}

// SIDEBAR

.aside {
  position: fixed;
  background: #191919;
  height: 100%;
  width: 200px;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 2;
  left: 0px;
}

.aside_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
  margin: 8px 0 20px 0;
}

.aside_logo i {
  color: $main-light;
  display: none;
}

.aside_logo img {
  opacity: 1;
}

.aside_nav_links li a {
  text-decoration: none;
  color: $main-light;
  font-weight: $font-light;
  font-size: $aside-link;
  display: block;
  width: 100%;
  padding: 10px 7px;
  border-left: 2px solid transparent;

  &:hover {
    color: $main-lighten;
    border-left: 2px solid $warning-light;
    background-color: $main-dark;
  }
}

.aside_nav_links li {
  list-style: none;
}

.aside_chat {
  display: flex;
  color: $info-color;
  justify-content: center;
  border-top: 2px solid $main-light;
  margin-top: 20px;
  padding-top: 20px;
}

.aside_chat_name {
  align-self: center;
  margin-left: 7px;
}

.chat_img::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  transform: translate(-100%, -5%);
  content: '';
  background: $success-dark;
}



// TOP BAR

.top_bar {
  height: 62px;
  background: $color-white;
  position: fixed;
  width: 100%;
}

.nav_links {
  line-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.top_bar ul li {
  display: inline-block;
  padding: 0 20px;
  border-left: 2px solid $main-light;
}

.top_bar ul li a {
  color: $main-light;
  text-decoration: none;
  position: relative;
  font-size: $primary-font-size;
}

.icon-notification::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translate(-20%, -20%);
  content: '';
  background: $warning-dark;
}

em {
  color: $info-color;
  font-style: normal;
  font-size: $secondary-font;
  font-weight: 300;
}

/* GENERAL */

// date picker

.date-picker {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $main-ultra-light;
}

.input-container {
  border: 1px solid $main-light;
  border-radius: 5px;
  margin: 5px;

  .icon-calendar {
    color: $main-light;
    padding-right: 10px;
  }

  input {
    border: none;
    padding: 10px;
    color: $main-light;
    margin-left: 2px;

    &:nth-of-type(1) {
      border-right: 1px solid $main-light;
    }
  }
}

// table chart

.table {
  color: $main-light;
  margin: 0 auto;
  width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.chart-row {
  width: 40%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $main-lighten;
  margin: 0 20px;
  padding: 10px 0;
}

.chart {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

// graph

.chart-container {
  padding: 40px;
}

// LINKS

.table__link a {
  text-decoration: none;
  color: $info-color;
}

// PERSONAL DATA

.registration_form {
  display: flex;
  flex-direction: column;
}

.field {
  margin: 15px auto;
  display: flex;
  align-items: center;
}

.field label {
  width: 140px;
  display: block;
  float: left;
  text-align: left;
  color: $main-light;
}

.field input {
  height: 36px;
  width: 300px;
  color: $main-light;
  padding: 5px;
}

.form_border {
  border-top: 1px solid $main-light;
  padding-top: 20px;
}

