*,
*::before,
*::after {
  font-family: $brand-font;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// SIDEBAR

.aside {
  position: fixed;
  background: #191919;
  height: 100%;
  width: 200px;
  overflow: auto;
  margin: 0;
  padding: 0;
  text-align: left;
  z-index: 2;
}

.aside_logo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
  margin: 8px 0 20px 0;
}

.aside_logo i {
  color: $main-light;
}

.aside_logo img {
  width: 100px;
}

.aside_nav_links li a {
  text-decoration: none;
  color: $main-light;
  font-weight: $font-light;
  font-size: $aside-link;
  display: block;
  width: 100%;
  padding: 10px 7px;

  &:hover {
    color: $main-lighten;
    border-left: 2px solid $warning-light;
    background-color: $main-dark;
  }
}

.aside_nav_links li {
  list-style: none;
}

// TOP BAR

.top_bar {
  height: 62px;
  background: $color-white;
  position: fixed;
  width: 100%;
}

.nav_links {
  line-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.top_bar ul li {
  display: inline-block;
  padding: 0 20px;
  border-left: 2px solid $main-light;
}

.top_bar ul li a {
  color: $main-light;
  text-decoration: none;
  position: relative;
  font-size: $primary-font-size;
}

.icon-notification::after {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  bottom: 20px;
  left: 20px;
  transform: translate(-20%, -20%);
  content: '';
  background: $warning-dark;
}

em {
  color: $info-color;
  font-style: normal;
  font-size: $secondary-font;
  font-weight: 300;
}

/* GENERAL */

// date picker

.date-picker {
  padding: 15px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $main-ultra-light;
  border-top: 2px solid $main-ultra-light;
}

.input-container {
  border: 1px solid $main-light;
  border-radius: 5px;
  margin: 5px;

  .icon-calendar {
    color: $main-light;
    padding-right: 10px;
  }

  input {
    border: none;
    padding: 10px;
    color: $main-light;

    &:nth-of-type(1) {
      border-right: 1px solid $main-light;
    }
  }
}

// table chart

.table {
  color: $main-light;
  margin: 0 auto;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

}

.table {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: $secondary-font;
  text-align: center;

  &__row {
    border-bottom: 2px solid $main-ultra-light;
    padding: 5px 0;
    width: 100%;

    &:hover {
        background: $main-ultra-light;
  
        .table__icon {
          opacity: 1;
        }
    }
  }

  td[class^='table__'] {
    padding: 20px 10px;
    width: 33%;
    font-weight: 300;
  }
  &__title {
    text-align: left;
    font-size: $secondary-font;
    font-weight: 600;
  }

  &__data {
    text-align: right;
    padding-right: 15px;
  }

  &__icon {
    opacity: 0;

    > *:hover {
      opacity: 1;
      color: $warning-light;
      cursor: pointer;
    }
  }
}

// graph

.graph img {
  width: 900px;
  margin: 30px 0 80px 0;
}

// LINKS

.table__link a {
  text-decoration: none;
  color: $info-color;
}
