.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  text-align: center;
}

section {
  margin-top: 30px;
  padding: 0;
  background: $color-white;
  box-shadow: -1px -1px 4px 1px $main-lighten;
}

main {
  padding: 70px 20px 20px 220px;
  background: $main-ultra-light;
}

.link_row {
  display: flex;
  border-bottom: 1px solid $main-lighten;
  width: 50%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: $secondary-font;
  color: $main-light;

  &:hover {
    background: $main-ultra-light;

    .link_icons {
      opacity: 1;

      & > *:hover {
        color: $warning-dark;
      }
    }
  }
}

.link_href a {
  text-decoration: none;
  color: $info-color;
}

.link_icons {
  display: flex;
  opacity: 0;
}