h2 {
  text-align: left;
  color: $main-light;
  text-transform: uppercase;
  font-size: $primary-font-size;
  padding: 16px 0 16px 16px;
  font-weight: 500;
  border-bottom: 2px solid $main-ultra-light;
}

h3 {
  text-align: left;
  color: $main-light;
  padding: 16px 0 16px 16px;
  font-weight: 500;
}
