/* Colors */
$main-dark: #333;
$main-light: #979797;
$main-lighten: #e3e3e3;
$main-ultra-light: #f5f5f2;
$color-white: #fff;

$warning-dark: #f58220;
$warning-light: #ffa200;

$success-dark: #04ae00;
$success-lght: #74b67a;
$success-lighten: #96cc9b;

$danger-dark: #ff0000;
$danger-light: #de5252;
$danger-lighten: #ec7171;

$info-color: #56819f;

/* Font sizes */
$primary-font-size: 21px;
$secondary-font: 18px;
$small-font: 16px;
$smaller-font: 14px;

/* Fonts */
$brand-font: 'Roboto', sans-sarif;

/*Font weight */
$font-light: 300;
$font-medium: 500;
$font-bold: 700;

/* Font size */
$aside-link: 21mainpx;

/* Transitions */
$transition-general: all 1s;
