/* Buttons */
.btn-success {
  background: $warning-dark;
  border: none;
  font-size: $primary-font-size;
  color: $main-ultra-light;
  padding: 10px 15px;
  font-weight: 300;
  width: 140px;
  margin: 20px auto;
  
  &:hover {
    cursor: pointer;
    background: $warning-light;
  }
}

.btn-success-small {
  background: $warning-dark;
  width: 46px;
  height: 46px;
  color: $color-white;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background: $warning-light;
  }
}

.btn-light {
  background: $main-light;
  border: none;
  font-size: $primary-font-size;
  color: $main-ultra-light;
  padding: 10px 15px;
  font-weight: 300;
  width: 140px;
  margin: 20px 0;

  &:hover {
    cursor: pointer;
    background: $main-dark;
  }
}

*:focus {
  outline: none;
}

.border_bottom {
  border-bottom: 2px solid $main-light;
}
